body {
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.75em 0.5rem -0.25em;
  text-align: center;
  color: #fefefe;
}
h2 {
  color: #fefefe;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202023;
}
.heading {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
.text{
  position: flex;
  font-size: 1rem;
  color: #fefefe;
}
